.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
  gap: 0.5rem;
}

.container > div {
  display: flex;
  flex-direction: column;
  border: 1px solid #833ae0;
  padding: 0.5em;
}
